header{
    width: 800px;
    height: 400px;

background-image: url('https://b.zmtcdn.com/data/collections/2e5c28a5fbcb2b35d84c0a498b0e1ba2_1674825837.jpg?fit=around|562.5:360&crop=562.5:360;*,*');
background-attachment: fixed;